.resource {
  overflow:hidden;
  height:auto;
  width:100%;
}
.resource > div{
  width:50%;
  float:left;
}
#stats {
  float:left;
  width:60%;
}
#buttons {
  float:right;
  width:40%;
  height: auto;
}
#buttons > button {
  width:100%;
  height: 3em;
}
#rContainer {
  float:left;
  width:25%;
}
progress { 
  width: 100%;
  height: 1em;
}
